.user-info {
  width: 100%;
}
.user-name,.user-mobile,.user-capcha, .baby-age, .baby-honor, .your-baby {
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: .3rem;
  color: #666;
  padding: 0 9.4%;
  border-bottom: 0.02rem solid #eee;  
}
.user-input {
  float: right;
  width: 3.4rem;
  font-size: .3rem;
  color: #888;
  padding: 0.03rem .2rem;
  margin-top: .25rem;
  height: .78rem !important;
  border-radius: 0.1rem;
  border: 0.02rem solid #b5b5b5;
}
.user-capcha div {
  float: right;
  width: 3.4rem;
  font-size: .3rem;
}
.user-capcha div input, .user-capcha div button {
  height: 0.78rem !important;
  margin-top: .25rem;
  border-radius: 0.1rem;
}
.user-capcha div input {
  float: left;
  width: 64%;
  font-size: .3rem;
  padding: 0.03rem .2rem;
  color: #888;
  border: 0.02rem solid #b5b5b5;
}
.user-capcha div button {
  float: right;
  line-height: 0.78rem;
  text-align: center;
  width: 34%;
  font-size: .22rem;
  padding: 0 !important;
}
.before-send-btn {
  color: #42b9ff;
  background-color: #fff;
  border: 0.02rem solid #42b9ff;
}
.after-send-btn {
  background-color: #42b9ff !important;
  color: #fff !important;
}
.your-baby-r {
  float: right;
  width: 3.4rem;
  margin-top: .25rem;
  height: 0.78rem !important;
  padding-left: .2rem;
}
.your-baby-r .sex {
  width: 83%;
  float: left;
  height: 0.78rem;
  line-height: 0.78rem;
  color: #888;
  font-size: .3rem; 
}
.your-baby-r .select-icon {
  width: 19%;
  float: right;
  height: 0.77rem;
  background-color: #bbb;
  border-top-right-radius: .1rem;
  border-bottom-right-radius: .1rem;
}
.your-baby-r .select-icon .triangle {
  width: 0;
  height: 0;
  border: .16rem solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  margin: 0.31rem auto;
}
.your-baby-r .sex-option {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  font-size: .3rem;
  padding: 0.03rem .2rem;
  color: #888;
  border-radius: 0.1rem;
  border: 0.02rem solid #b5b5b5;
}
select {
  background-color: #fff;
}
select option {
  font-size: .3rem;
}
.gap {
  height: .3rem;
  background-color: #f8f5f5;
  border-bottom: 0.02rem solid #eee;
}
.virify-btn {
  width: 3.2rem;
  height: .96rem;
  margin: 0.6rem auto 0;
  display: block;
  background-color: #42b9ff;
  font-size: .3rem;
  text-align: center;
  line-height: .96rem;
  border-radius: .1rem;
  color: #fff; 
  border: none;
}
.virify-btn-disabled {
  background-color: #95D1F5 !important;
}
@media screen and (min-width: 750px) {
  .user-input, .user-capcha div, .your-baby-r{
    width: 4.1rem;
  }
}
@media screen and (min-width: 1081px) {
  .user-input, .user-capcha div, .your-baby-r{
    width: 71%;
  }
  .user-capcha div input {
    width: 68%;
  }
  .user-capcha div button {
    width: 29%;
  }
}
